html,
body {
    padding: 0;
    margin: 0;
}

body {
    padding: 15px;
    background-color: #f2f3f5;
}

.layui-card-header {
    /* margin: 5px;
    float: right; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layui-form {
    padding-top: 20px;
    padding-right: 30px;
}